.error__messages {
  text-align: center;
  padding: 0;
  margin: 0 auto 2rem;
  max-width: 400px;
  list-style: none;
  li {
    color: red;
    font-size: 0.9rem;
    margin: 0.35rem 0;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}
