body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1100px;
}
