.nav__wrapper {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.nav__left {
  display: flex;
}

.nav__right {

}

.nav__items {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__item {
  margin-left: 3rem;
  @media (max-width: 768px) {
    margin-left: 1rem;
  }
}

.nav__link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  transition: opacity 0.25s;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
  span {
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.nav__icon {
  height: 1.15rem;
  width: auto;
  display: block;
  margin-right: 0.35rem;
  @media (max-width: 768px) {
    height: 1.35rem;
  }
}

.nav__logo {
  height: 2.5rem;
  width: auto;
  display: block;
}
