.settings__wrapper {
  text-align: center;
}

.settings__title {
}

.settings__redirect {
  color: gray;
  text-decoration: none;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.settings__form {
  max-width: 400px;
  margin: 0 auto;
}

.settings__form-row {
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  .password__reveal {
    position: absolute;
    right: 1rem;
    top: 1rem;
    height: 1.35rem;
    width: auto;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.25s;
    &.active {
      opacity: 1;
    }
  }
  .image__preview {
    position: absolute;
    right: 1rem;
    top: 1rem;
    height: 1.35rem;
    width: 1.35rem;
    object-fit: contain;
    background-size: cover;
    background-position: center;
  }
  input,
  textarea {
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    &.image {
      padding-right: 3rem;
    }
  }
}

.settings__form-error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  text-align: center;
}

.settings__form-submit {
  margin-top: 2rem;
  background-color: black;
  color: white;
  padding:  1rem 2rem;
  outline: none;
  border: none;
  cursor: pointer;
}
